.h1{
	padding: 10px 0 0 250px;
	font-size: 100px;
	font-family: NanumBrush;
	margin-bottom: 50px;
	margin-top: 50px;
}
.write_table{
	margin-left: 200px;
	margin-top: 50px;
}
.write_td{
	font-size: 22px;
	font-family: YeonSung;
}
.write_td_title{
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.write_td_id{
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
}
td.write_td_file input{
	border: 1px none black;
	background-color: black;
	color: white;
	border-radius: 5px;
}
td.write_td_file input:hover{
	color: black;
	background-color: white;
}
.write_sub{
	margin-left:850px;
	border: 1px solid black;
	background-color: white;
	font-size: 25px;
	font-family: YeonSung;
	border-radius: 5px;
	padding:5px 30px 5px 30px;
}
.write_sub:hover {
	background-color: black;
	color: white;
}
.write_return{
	text-decoration:none;
	margin-left: 260px;
	color: black;
	border: 1px solid black;
	font-family: YeonSung;
	border-radius: 5px;
	font-size: 20px;
	background-color: white;
	padding:5px 20px 5px 20px;
}
.write_return:hover {
	background-color: black;
	color: white;
}


@font-face {font-family: '백범김구'; src: url(../font/독립서체_백범김구_GS.ttf) format('truetype');}
@font-face {font-family: '윤동주_별헤는밤'; src: url(../font/독립서체_윤동주_별헤는밤_GS.ttf) format('truetype');}
@font-face {font-family: '윤동주_서시'; src: url(../font/독립서체_윤동주_서시_GS.ttf) format('truetype');}
@font-face {font-family: '윤봉길'; src: url(../font/독립서체_윤봉길_GS.ttf) format('truetype');}
@font-face {font-family: '한용운'; src: url(../font/독립서체_한용운_GS.ttf) format('truetype');}

@font-face {font-family: 'YeonSung'; src: url(../font/YeonSung-Regular.ttf) format('truetype');}

@font-face {font-family: 'NanumBrush'; src: url(../font/NanumBrush.ttf) format('truetype');}	
@font-face {font-family: 'NanumGothic'; src: url(../font/NanumGothic.ttf) format('truetype');}	
@font-face {font-family: 'NanumGothicBold'; src: url(../font/NanumGothicBold.ttf) format('truetype');}	
@font-face {font-family: 'NanumGothicExtraBold'; src: url(../font/NanumGothicExtraBold.ttf) format('truetype');}	
@font-face {font-family: 'NanumMyeongjo'; src: url(../font/NanumMyeongjo.ttf) format('truetype');}	
@font-face {font-family: 'NanumMyeongjoBold'; src: url(../font/NanumMyeongjoBold.ttf) format('truetype');}	
@font-face {font-family: 'NanumMyeongjoExtraBold'; src: url(../font/NanumMyeongjoExtraBold.ttf) format('truetype');}	
@font-face {font-family: 'NanumPen'; src: url(../font/NanumPen.ttf) format('truetype');}	
@font-face {font-family: 'Madame'; src: url(../font/Madame.ttf) format('truetype');}