@charset "UTF-8";

td {
	width: 200px;
	text-align: center;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

table {
	height: 100%;
	margin: auto;
	text-align: center;
	margin-top: 200px;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.body {
	width: 500px;
	height: 308px;
	margin: auto;
	text-align: center;
	background-image: url("../LeeImg/podium.jpg");
}

.one {
	font-size: 22pt;
	color: gold;
	position: relative;
	z-index: 1;
}

.two {
	font-size: 22pt;
	color: silver;
	position: relative;
	z-index: 2;
	right: 135px;
}

.three {
	color: #9b3928;
	font-size: 22pt;
	position: relative;
	z-index: 3;
	left: 125px;
	bottom: 20px;
}

.qna_seach_sub {
	height: 25px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px none black;
	background-color: white;
	font-weight: bold;
	padding-bottom: 2px;
}

.qna_seach_sub:hover {
	color: white;
	background-color: black;
}